@model IITAcademicAutomationSystem.Areas.One.Models.SemesterIndexViewModel

@{
    ViewBag.Title = ViewBag.CourseCode + " - Students";
}

<section class="content-header">
    <h1>
        @ViewBag.Title <small>Enrolled Students</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            @Html.ActionLink(" Home", "Index", "Home", new { area = "" }, new { @class = "fa fa-home" })
        </li>
        <li>
            @Html.ActionLink(Model.ProgramName, "Index", "Batch",
                new { area = "One", programId = Model.ProgramId }, null)
        </li>
        <li>
            @Html.ActionLink(Model.ProgramName + " " + Model.BatchNo + " - Semester " + Model.SemesterNo,
                "Index", "Semester",
                new { area = "One", batchId = Model.BatchId, semesterId = Model.SemesterId }, null)
        </li>
        <li>
            @Html.ActionLink("Courses", "SemesterCourses", "Semester",
                        new { area = "One", batchId = Model.BatchId, semesterId = Model.SemesterId }, null)
        </li>
        <li class="active">Students</li>
    </ol>

</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default">
@if (User.IsInRole("Admin") ||
                        User.IsInRole("Program Officer Regular") ||
                        User.IsInRole("Program Officer Evening"))
{
                <div class="box-header text-right">
                    @Html.ActionLink("Add Students", "AddStudentToCourse", "Semester",
             new
             {
                 area = "One",
                 batchId = Model.BatchId,
                 semesterId = Model.SemesterId,
                 courseId = ViewBag.CourseId
             },
             new { @class = "btn btn-success btn-flat" })
                    @Html.ActionLink("Remove Students", "RemoveStudentFromCourse", "Semester",
             new
             {
                 area = "One",
                 batchId = Model.BatchId,
                 semesterId = Model.SemesterId,
                 courseId = ViewBag.CourseId
             },
             new { @class = "btn btn-danger btn-flat" })
                </div>
}
                <div class="box-body">
                    <table id="courseStudents" class="table table-responsive table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Roll</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Students)
                            {
                                <tr>
                                    <td>
                                        <span>
                                            <img src="@Url.Content("~/Areas/One/Content/UserImage/" + @item.ImagePath)"
                                                 class="img-responsive img-rounded img-sm"
                                                 alt="" />
                                            &nbsp;&nbsp;
                                            @item.Roll
                                        </span>
                                    </td>
                                    <td>
                                        @item.FullName
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    @Html.ActionLink("Back to Courses", "SemesterCourses", "Semester",
                        new { area = "One", batchId = Model.BatchId, semesterId = Model.SemesterId },
                        new { @class = "btn btn-primary btn-flat" })
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/datatable")
    <script>
        $(function () {
            $("#courseStudents").DataTable({
                "paging": false,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": true
            });
        });
    </script>
}