@model IITAcademicAutomationSystem.Areas.One.Models.SemesterIndexViewModel

@{
    ViewBag.Title = Model.ProgramName + " " + Model.BatchNo + " - Semester " + Model.SemesterNo;
}

<section class="content-header">
    <h1>
        @ViewBag.Title <small>Enrolled Students</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            @Html.ActionLink(" Home", "Index", "Home", new { area = "" }, new { @class = "fa fa-home" })
        </li>
        <li>
            @Html.ActionLink(Model.ProgramName, "Index", "Batch",
                new { area = "One", programId = Model.ProgramId }, null)
        </li>
        <li>
            @Html.ActionLink(Model.ProgramName + " " + Model.BatchNo + " - Semester " + Model.SemesterNo,
                "Index", "Semester",
                new { area = "One", batchId = Model.BatchId, semesterId = Model.SemesterId }, null)
        </li>
        <li class="active">Students</li>
    </ol>

</section>
<section class="content">
    @if (User.IsInRole("Admin") ||
                                                                    User.IsInRole("Program Officer Regular") ||
                                                                    User.IsInRole("Program Officer Evening"))
    {
        <div class="row">
            <div class="col-xs-12 text-right">
                @Html.ActionLink("Add Student", "AddStudentToSemester", "Semester",
                                new { area = "One", batchId = Model.BatchId, semesterId = Model.SemesterId },
                                new { @class = "btn btn-success btn-flat" })
                @Html.ActionLink("Remove Student", "RemoveStudentFromSemester", "Semester",
                                new { area = "One", batchId = Model.BatchId, semesterId = Model.SemesterId },
                                new { @class = "btn btn-danger btn-flat" })
            </div>
        </div>
    }
    <br />
    <div class="row">
        <div class="col-xs-12 text-right">
            @Html.ActionLink("Passed Students", "SemesterPassedStudents", "Semester",
                new { area = "One", batchId = Model.BatchId, semesterId = Model.SemesterId },
                new { @class = "btn btn-success btn-flat" })
            @Html.ActionLink("Failed Students", "SemesterFailedStudents", "Semester",
                new { area = "One", batchId = Model.BatchId, semesterId = Model.SemesterId },
                new { @class = "btn btn-success btn-flat" })
@if (User.IsInRole("Admin") ||
            User.IsInRole("Program Officer Regular") ||
            User.IsInRole("Program Officer Evening"))
{
            @Html.ActionLink("Assign Failed Students to New Batch", "AssignNewBatch", "Semester",
             new { area = "One", batchId = Model.BatchId, semesterId = Model.SemesterId },
             new { @class = "btn btn-success btn-flat" })
}
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-body">
                    <table id="semesterStudents" class="table table-responsive table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Roll</th>
                                <th>Name</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Students)
                            {
                                <tr>
                                    <td>
                                        <span>
                                            <img src="@Url.Content("~/Areas/One/Content/UserImage/" + @item.ImagePath)"
                                                 class="img-responsive img-rounded img-sm"
                                                 alt="" />
                                            &nbsp;&nbsp;
                                            @item.Roll
                                        </span>
                                    </td>
                                    <td>
                                        @item.FullName
                                    </td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            @Html.ActionLink("Details", "SemesterStudentDetails", "Semester",
                                                    new
                                                    {
                                                        area = "One",
                                                        studentId = item.Id,
                                                        batchId = Model.BatchId,
                                                        semesterId = Model.SemesterId
                                                    },
                                                    new { @class = "btn btn-primary btn-flat" })

                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    @Html.ActionLink("Back to Semester", "Index", "Semester",
                        new { area = "One", batchId = Model.BatchId, semesterId = Model.SemesterId },
                        new { @class = "btn btn-primary btn-flat" })
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/datatable")
    <script>
        $(function () {
            $("#semesterStudents").DataTable({
                "paging": false,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": true
            });
        });
    </script>
}