@model IEnumerable<IITAcademicAutomationSystem.Areas.One.Models.TeacherIndexViewModel>

@{
    ViewBag.Title = "Teachers";
}

<section class="content-header">
    <h1>
        List of Teachers
    </h1>
    <ol class="breadcrumb">
        <li>
            @Html.ActionLink(" Home", "Index", "Home", new { area = "" }, new { @class = "fa fa-home" })
        </li>
        <li class="active">
            Teachers
        </li>
    </ol>
</section>

<section class="content">
    <div class="panel panel-default panel-sm">
        <div class="panel-heading panel-heading-sm text-right">
            @Html.ActionLink("Register New Teacher", "TeacherRegister", "Account", new { area = "" }, null) |
            @Html.ActionLink("View On Leave Teachers", "TeacherLeaveIndex", "User", new { area = "One" }, null) |
            @Html.ActionLink("View Retired Teachers", "TeacherRetiredIndex", "User", new { area = "One" }, null)
        </div>
        <div class="panel-body">
            <table id="" class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <td>Teacher</td>
                        <td colspan="2">Roles</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(item.FullName, "TeacherDetails", "User", new { area = "One", id = item.Id }, null)
                            </td>
                            <td>
                                @foreach (var role in item.Roles)
                                {
                                    <span class="btn btn-default">@role.Name</span>
                                }
                            </td>
                            <td>
                                @Html.ActionLink("Set Role", "SetRole", "Role", new { area = "One", id = item.Id },
                                    new { @class = "btn btn-primary" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer panel-footer-sm">
            <div class="form-group">
                @Html.ActionLink("Back to Home", "Index", "Base", new { area = "" }, new { @class = "btn btn-primary btn-flat" })
            </div>
        </div>
    </div>
</section>