@model IITAcademicAutomationSystem.Areas.One.Models.BatchCreateViewModel

@{
    ViewBag.Title = "Create Batch";
}

<section class="content-header">
    <h1>
        The following batch has been created successfully.
    </h1>
    <ol class="breadcrumb">
        <li>
            @Html.ActionLink(" Home", "Index", "Base", new { area = "" }, new { @class = "fa fa-home" })
        </li>
        <li><a href="#">@Model.ProgramName</a></li>
        <li>
            @Html.ActionLink("Batches", "Index", "Batch", new { area = "One", programId = Model.ProgramId }, null)
        </li>
        <li class="active">
            Create
        </li>
    </ol>
</section>
<hr />
<section class="content">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-6">
            <div class="box box-primary">
                &nbsp;
                <div class="box-body with-border">
                    <table class="table table-hover table-responsive table-bordered">
                        <tr>
                            <td>
                                Program
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.ProgramName)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Batch
                            </td>
                            <td>
                                @Model.BatchNo
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="box-footer text-center">
                    @Html.ActionLink("Back to batches", "Index", "Batch", new { area = "One", programId = Model.ProgramId }, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>
</section>
