@model IEnumerable<IITAcademicAutomationSystem.Areas.One.Models.BatchIndexViewModel>

@{
    ViewBag.Title = ViewBag.ProgramName + " Batch List";
}

<section class="content-header">
    <h1>
        @ViewBag.ProgramName Batch List
    </h1>
    <ol class="breadcrumb">
        <li>
            @Html.ActionLink(" Home", "Index", "Base", new { area = "" }, new { @class = "fa fa-home" })
        </li>
        <li><a href="#">@ViewBag.ProgramName</a></li>
        <li class="active">Batches</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title pull-right">
                        @Html.ActionLink("Create batch", "Create", "Batch", new { area = "One", programId = ViewBag.ProgramId }, null) | 
                        @Html.ActionLink("View previous batches", "IndexPassed", "Batch", new { area = "One", programId = ViewBag.ProgramId }, null)
                    </h3>
                </div>
                <div class="box-body">
                    <table id="batchIndex" class="table table-responsive table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Batches
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.ActionLink(item.ProgramName + " " + item.BatchNo, "Details", "Batch", new { area = "One", id = item.Id }, null)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/datatable")
    <script>
        $(function () {
            $("#batchIndex").DataTable({
                "paging": false,
                "lengthChange": false,
                "searching": false,
                "ordering": false,
                "info": false,
                "autoWidth": true
            });
        });
    </script>
}
