@model IEnumerable<IITAcademicAutomationSystem.Models.StudentIndexViewModel>

@{
    ViewBag.Title = ViewBag.ProgramName + " " + ViewBag.BatchNo + " - Current Students";
}

<section class="content-header">
    <h1>
        @ViewBag.ProgramName @ViewBag.BatchNo <small>Current Students</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            @Html.ActionLink(" Home", "Index", "Home", new { area = "" }, new { @class = "fa fa-home" })
        </li>
        <li>
            @Html.ActionLink((string)ViewBag.ProgramName, "Index", "Batch",
                new { area = "One", programId = ViewBag.ProgramId }, null)
        </li>
        <li>
            @Html.ActionLink((string)ViewBag.ProgramName + " " + (int)ViewBag.BatchNo, "Details", "Batch",
                new { area = "One", id = ViewBag.BatchId }, null)
        </li>
        <li class="active">Current Students</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        @Html.ActionLink("Back to Batch", "Details", "Batch",
                            new { area = "One", id = ViewBag.BatchId },
                            new { @class="btn btn-primary btn-flat" })
                    </h3>
                </div>
                <div class="box-body">
                    <table id="indexCurrentStudents" class="table table-responsive table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Roll</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <span>
                                            <img src="@Url.Content("~/Areas/One/Content/UserImage/" + @item.ImagePath)"
                                                 class="img-responsive img-rounded img-sm"
                                                 alt="" />
                                            &nbsp;&nbsp;
                                            @item.FullName
                                        </span>
                                    </td>
                                    <td>@item.Roll</td>
                                    <td>@item.Email</td>
                                    <td>@item.PhoneNumber</td>
                                    <td>
                                        @Html.ActionLink("Details", "CurrentStudentDetails", "Batch",
                                            new { area = "One", id = item.Id },
                                            new { @class = "btn btn-primary btn-flat btn-sm" })
                                        @*@Html.ActionLink("Change Email", "ResetEmail", "Account",
                new { area = "", id = item.Id }, new { @class = "btn btn-primary btn-flat btn-sm" })
            @Html.ActionLink("Edit", "TeacherEdit", "Account",
                new { area = "", id = item.Id }, new { @class = "btn btn-primary btn-flat btn-sm" })
            @Html.ActionLink("Delete", "TeacherDelete", "Account",
                new { area = "", id = item.Id }, new { @class = "btn btn-danger btn-flat btn-sm" })*@
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/datatable")
    <script>
        $(function () {
            $("#indexCurrentStudents").DataTable({
                "paging": false,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": true
            });
        });
    </script>
}


