@model IEnumerable<IITAcademicAutomationSystem.Areas.One.Models.BatchIndexViewModel>

@{
    ViewBag.Title = ViewBag.ProgramName + " Batch List";
}

<section class="content-header">
    <h1>
        @ViewBag.ProgramName Batch List
    </h1>
    <ol class="breadcrumb">
        <li>
            @Html.ActionLink(" Home", "Index", "Home", new { area = "" }, new { @class = "fa fa-home" })
        </li>
        <li class="active">@ViewBag.ProgramName</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title pull-right">
                        @Html.ActionLink("Create Batch", "Create", "Batch",
                            new { area = "One", programId = ViewBag.ProgramId },
                            new { @class = "btn btn-default btn-flat" })
                        @Html.ActionLink("Previous Batches", "IndexPassed", "Batch",
                            new { area = "One", programId = ViewBag.ProgramId },
                            new { @class = "btn btn-default btn-flat" })
                        @Html.ActionLink("Courses", "Index", "Course",
                            new { area = "One", programId = ViewBag.ProgramId },
                            new { @class = "btn btn-default btn-flat" })
                    </h3>
                </div>
                <div class="box-body">
                    <table id="batchIndex" class="table table-responsive table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">Batch</th>
                                <th class="text-center">Semester</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">
                                        @Html.ActionLink((string)ViewBag.ProgramName + " " + item.BatchNo, "Details", "Batch",
                                            new { area = "One", id = item.Id },
                                            new { @class="btn btn-default btn-flat btn-lg" })
                                    </td>

                                    <td>
                                        <div class="btn-group btn-group-justified">
                                            @foreach (var semester in item.Semesters)
                                            {
                                                if (semester.SemesterNo == item.SemesterNoCurrent)
                                                {
                                                    @Html.ActionLink("Semester " + semester.SemesterNo, "Index", "Semester",
                                                new { area = "One", batchId = item.Id, semesterId = semester.Id },
                                                new { @class = "btn btn-primary btn-flat" })
                                                }
                                                else
                                                {
                                                    @Html.ActionLink("Semester " + semester.SemesterNo, "Index", "Semester",
                                                new { area = "One", batchId = item.Id, semesterId = semester.Id },
                                                new { @class = "btn btn-default btn-flat" })
                                                }
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/datatable")
    <script>
        $(function () {
            $("#batchIndex").DataTable({
                "paging": false,
                "lengthChange": false,
                "searching": false,
                "ordering": false,
                "info": false,
                "autoWidth": true
            });
        });
    </script>
}
