@model IEnumerable<IITAcademicAutomationSystem.Areas.One.Models.BatchIndexViewModel>

@{
    ViewBag.Title = ViewBag.ProgramName + " Batch List";
}

<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li>
            @Html.ActionLink(" Home", "Index", "Home", new { area = "" }, new { @class = "fa fa-home" })
        </li>
        <li>
            @Html.ActionLink((string)ViewBag.ProgramName, "Index", "Batch",
                new { area = "One", programId = ViewBag.ProgramId }, null)
        </li>
        <li class="active">Previous Batches</li>
    </ol>

</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title pull-right"></h3>
                </div>
                <div class="box-body">
                    <table id="batchIndex" class="table table-responsive table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Batches
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.ActionLink((string)ViewBag.ProgramName + " " + item.BatchNo, "Details",
                                            "Batch", new { area = "One", id = item.Id, programId = ViewBag.ProgramId },
                                            null)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    @Html.ActionLink("Back to Batches", "Index", "Batch",
                        new { area = "One", programId = ViewBag.ProgramId },
                        new { @class = "btn btn-primary btn-flat" })
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @Scripts.Render("~/datatable")
    <script>
        $(function () {
            $("#batchIndex").DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": false,
                "info": false,
                "autoWidth": true
            });
        });
    </script>
}
