@model IITAcademicAutomationSystem.Areas.One.Models.CourseEditViewModel

@{
    ViewBag.Title = "Edit Course";
}

<section class="content-header">
    <h1>
        @Html.DisplayFor(model => model.CourseCode) - @Html.DisplayFor(model => model.CourseTitle)
    </h1>
    <ol class="breadcrumb">
        <li>
            @Html.ActionLink(" Home", "Index", "Home", new { area = "" }, new { @class = "fa fa-home" })
        </li>
        <li><a href="#">@ViewBag.ProgramName</a></li>
        <li>
            @Html.ActionLink("Courses", "Index", "Course", new { area = "One", programId = Model.ProgramId }, null)
        </li>
        <li class="active">
            @Html.DisplayFor(model => model.CourseCode)
        </li>
    </ol>
</section>
<hr />
<section class="content">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8">
            <div class="box box-default">
                @using (Html.BeginForm())
                {
                    <div class="box-body with-border">
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.ProgramId)

                        <div class="form-group">
                            <div class="row edit">
                                <div class="col-xs-12 col-sm-4">
                                    @Html.LabelFor(model => model.CourseCode, "Course code", htmlAttributes: new { @class = "" })
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    @Html.EditorFor(model => model.CourseCode, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CourseCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row edit">
                                <div class="col-xs-12 col-sm-4">
                                    @Html.LabelFor(model => model.CourseTitle, "Course title", htmlAttributes: new { @class = "" })
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    @Html.EditorFor(model => model.CourseTitle, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CourseTitle, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row edit">
                                <div class="col-xs-12 col-sm-4">
                                    @Html.LabelFor(model => model.CourseCredit, "Course credit", htmlAttributes: new { @class = "" })
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    @Html.EditorFor(model => model.CourseCredit, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CourseCredit, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row edit">
                                <div class="col-xs-12 col-sm-4">
                                    @Html.LabelFor(model => model.CreditTheory, "Credit theory", htmlAttributes: new { @class = "" })
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    @Html.EditorFor(model => model.CreditTheory, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CreditTheory, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row edit">
                                <div class="col-xs-12 col-sm-4">
                                    @Html.LabelFor(model => model.CreditLab, "Credit lab", htmlAttributes: new { @class = "" })
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    @Html.EditorFor(model => model.CreditLab, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CreditLab, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <!--Only for PGDIT-->
                        @if (ViewBag.ProgramName == "PGDIT")
                        {
                            <div class="form-group">
                                <div class="row edit">
                                    <div class="col-xs-12 col-sm-4">
                                        @Html.LabelFor(model => model.DependentCourseId1, "Dependent course 1", htmlAttributes: new { @class = "" })
                                    </div>
                                    <div class="col-xs-12 col-sm-8">
                                        @Html.DropDownListFor(model => model.DependentCourseId1, Model.CourseList, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.DependentCourseId1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row edit">
                                    <div class="col-xs-12 col-sm-4">
                                        @Html.LabelFor(model => model.DependentCourseId2, "Dependent course 2", htmlAttributes: new { @class = "" })
                                    </div>
                                    <div class="col-xs-12 col-sm-8">
                                        @Html.DropDownListFor(model => model.DependentCourseId2, Model.CourseList, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.DependentCourseId2, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="box-footer">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                    @Html.ActionLink("Cancel", "Details", "Course", new { area = "One", id = Model.Id }, new { @class = "btn btn-primary" })
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/jqueryval")
}