@model IEnumerable<IITAcademicAutomationSystem.Areas.One.Models.CourseIndexViewModel>

@{
    ViewBag.Title = ViewBag.ProgramName + " Course List";
}

<section class="content-header">
    <h1>
        @ViewBag.ProgramName Course List
    </h1>
    <ol class="breadcrumb">
        <li>
            @Html.ActionLink(" Home", "Index", "Home", new { area = "" }, new { @class = "fa fa-home" })
        </li>
        <li>
            @Html.ActionLink((string)ViewBag.ProgramName, "Index", "Batch",
                new { area = "One", programId = ViewBag.ProgramId }, null)
        </li>
        <li class="active">Courses</li>
    </ol>

</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-header with-border">
                        <span>
                            @Html.ActionLink("Back to Batches", "Index", "Batch",
                                new { area = "One", programId = ViewBag.ProgramId },
                                new { @class = "btn btn-primary btn-flat" })
                        </span>
                    @if (User.IsInRole("Admin") ||
User.IsInRole("Program Officer Regular") ||
User.IsInRole("Program Officer Evening"))
                    {
                        <span class="pull-right">
                            @Html.ActionLink("Create Course", "Create", "Course",
                                new { area = "One", programId = ViewBag.ProgramId },
                                new { @class = "btn btn-success btn-flat" })
                        </span>
                    }
                        
                </div>
                <div class="box-body">
                    <table id="courseIndex" class="table table-responsive table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Course Code
                                </th>
                                <th>
                                    Course Title
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.ActionLink(item.CourseCode, "Details", "Course", new { area = "One", id = item.Id, programId = item.ProgramId }, null)
                                    </td>
                                    <td>
                                        @Html.ActionLink(item.CourseTitle, "Details", "Course", new { area = "One", id = item.Id, programId = item.ProgramId }, null)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/datatable")
    <script>
        $(function () {
            $("#courseIndex").DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": false,
                "info": true,
                "autoWidth": true
            });
        });
    </script>
}
