@model IITAcademicAutomationSystem.Areas.One.Models.RoleDetailsViewModel

@{
    ViewBag.Title = "Role";
}

<section class="content-header">
    <h1>Role Creation Successful</h1>
    <ol class="breadcrumb">
        <li>
            @Html.ActionLink(" Home", "Index", "Home", new { area = "" }, new { @class = "fa fa-home" })
        </li>
        <li>
            @Html.ActionLink("Roles", "Index", "Role", new { area = "" }, null);
        </li>
        <li>
            @Html.ActionLink("Create", "Create", "Role", new { area = "" }, null);
        </li>
        <li class="active">Confirmed</li>
    </ol>
</section>
<hr />
<section class="content">
    <div class="panel panel-default panel-sm">
        <div class="panel-heading panel-heading-sm">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-8 col-sm-2">
                        Role Name:
                    </div>
                    <div class="col-xs-8 col-sm-4">
                        @Html.DisplayFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="form-group">
                hello
            </div>
        </div>
        <div class="panel-footer panel-footer-sm">
            <div class="form-group">
                @Html.ActionLink("Back to Roles", "Index", "Role", new { area = "" },
                    new { @class = "btn btn-primary btn-flat" })
            </div>
        </div>
    </div>
</section>

