@model IEnumerable<IITAcademicAutomationSystem.Areas.One.Models.RoleIndexViewModel>

@{
    ViewBag.Title = "Role";
}

<section class="content-header">
    <h1>User Roles</h1>
    <ol class="breadcrumb">
        <li>
            @Html.ActionLink(" Home", "Index", "Home", new { area = "" }, new { @class = "fa fa-home" })
        </li>
        <li class="active">Roles</li>
    </ol>
</section>
<section class="content">
    <div class="panel panel-default panel-s">
        <div class="panel-heading panel-heading-sm text-right">
            @Html.ActionLink("Create Role", "Create", "Role", new { area = "" },
                new { @class = "btn btn-default btn-flat" })
        </div>
        <div class="panel-body">
            <table id="courseIndex" class="table table-responsive table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Role</th>
                        <th class="text-center">Responsibility</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(x => item.Name)
                            </td>
                            <td class="text-center"></td>
                            <td class="text-center">
                                @Html.ActionLink("Details", "Details", "Role", new { area = "", id = item.Id },
                                    new { @class = "btn btn-primary btn-flat btn-sm" })
                                @Html.ActionLink("Edit", "Edit", "Role", new { area = "", id = item.Id },
                                    new { @class = "btn btn-primary btn-flat btn-sm" })
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer panel-footer-sm">
            <div class="form-group">
                @Html.ActionLink("Back to Home", "Index", "Home", new { area = "" },
                    new { @class = "btn btn-primary btn-flat" })
            </div>
        </div>
    </div>
</section>

