@model IITAcademicAutomationSystem.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Password";
}

<div class="login">
    <div id="loginForm" class="panel panel-success login-form">
        <div class="panel-heading login-heading">
            Forgot Password
        </div>
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
        {
            <div class="panel-body login-body">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger validation-errors" })

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, "Please enter email address", htmlAttributes: new { @class = "" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", autofocus = "" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="panel-footer login-footer text-center">
                <input type="submit" value="Submit" class="btn btn-primary btn-flat btn-lg" />
                @Html.ActionLink("Cancel", "Login", "Account",
                    new { area = "" }, new { @class = "btn btn-danger btn-flat btn-lg" })
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
