@using IITAcademicAutomationSystem.Models
@model LoginViewModel

@{ 
    ViewBag.Title = "IIT Academic Automation System";
}

<div class="login">
    <div id="loginForm" class="panel panel-success login-form">
        <div class="panel-heading login-heading">
            Log In
        </div>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
        {
            <div class="panel-body login-body">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger validation-errors" })

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", autofocus="" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                </div>
                <div class="form-group  text-center">
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="panel-footer login-footer">
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.RememberMe)
                            Remember me
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Log in" class="btn btn-primary btn-block btn-flat btn-lg" />
                </div>
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>
            </div>
        }
    </div>
</div>
