@model IITAcademicAutomationSystem.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "Reset password";
}

<div class="login">
    <div id="loginForm" class="panel panel-success login-form">
        <div class="panel-heading login-heading">
            Reset Password
        </div>
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form" }))
        {
            <div class="panel-body login-body">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger validation-errors" })
                @Html.HiddenFor(model => model.Code)

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", autofocus = "" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control"})
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="panel-footer login-footer text-center">
                <input type="submit" value="Submit" class="btn btn-primary btn-flat btn-lg" />
                @Html.ActionLink("Cancel", "Login", "Account",
                    new { area = "" }, new { @class = "btn btn-danger btn-flat btn-lg" })
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}