@model IEnumerable<IITAcademicAutomationSystem.Models.StudentIndexViewModel>

@{
    ViewBag.Title = "Students";
}

<section class="content-header">
    <h1>
        List of Students
    </h1>
    <ol class="breadcrumb">
        <li>
            @Html.ActionLink(" Home", "Index", "Home", new { area = "" }, new { @class = "fa fa-home" })
        </li>
        <li class="active">
            Students
        </li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-body with-border">
                    <table id="studentIndex" class="table table-responsive table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Roll</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <span>
                                            <img src="@Url.Content("~/Areas/One/Content/UserImage/" + @item.ImagePath)"
                                                 class="img-responsive img-rounded img-sm"
                                                 alt="" />
                                            &nbsp;&nbsp;
                                            @item.FullName
                                        </span>

                                    </td>
                                    <td>@item.Roll</td>
                                    <td>@item.Email</td>
                                    <td>@item.PhoneNumber</td>
                                    <td>
                                        @Html.ActionLink("Change Email", "ResetEmail", "Account",
                                            new { area = "", id = item.Id }, new { @class = "btn btn-primary btn-flat btn-sm" })
                                        @Html.ActionLink("Details", "TeacherDetails", "Account",
                                            new { area = "", id = item.Id }, new { @class = "btn btn-primary btn-flat btn-sm" })
                                        @Html.ActionLink("Edit", "TeacherEdit", "Account",
                                            new { area = "", id = item.Id }, new { @class = "btn btn-primary btn-flat btn-sm" })
                                        @Html.ActionLink("Delete", "TeacherDelete", "Account",
                                            new { area = "", id = item.Id }, new { @class = "btn btn-danger btn-flat btn-sm" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    @Html.ActionLink("Back to Home", "Index", "Home", new { area = "" }, new { @class = "btn btn-primary btn-flat" })
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/datatable")
    <script>
        $(function () {
            $("#studentIndex").DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true
            });
        });
    </script>
}